<aside class="sidebar">

    <div class="logo">
        <div class="logo-icon">🎓</div>
        <span>Knoow</span>
    </div>

    <div class="menu-section">

        <p class="section-title">Navegação</p>

        <a href="#" class="menu-item active">
            <span class="icon">⌂</span>
            <span>Home</span>
        </a>

        <a href="#" class="menu-item">
            <span class="icon">▣</span>
            <span>Calendário</span>
        </a>

        <a href="#" class="menu-item">
            <span class="icon">♙</span>
            <span>Perfil</span>
        </a>

    </div>


    <div class="menu-section">

        <p class="section-title">Matérias</p>

        <a href="#" class="menu-item">
            <span class="icon">Σ</span>
            <span>Matemática</span>
        </a>

        <a href="#" class="menu-item">
            <span class="icon">⌁</span>
            <span>Redação</span>
        </a>

        <a href="#" class="menu-item">
            <span class="icon">▤</span>
            <span>Português</span>
        </a>

        <a href="#" class="menu-item">
            <span class="icon">♜</span>
            <span>História</span>
        </a>

        <a href="#" class="menu-item">
            <span class="icon">♧</span>
            <span>Sociologia e Filosofia</span>
        </a>

        <a href="#" class="menu-item">
            <span class="icon">◉</span>
            <span>Artes</span>
        </a>

        <a href="#" class="menu-item">
            <span class="icon">⚗</span>
            <span>Química</span>
        </a>

        <a href="#" class="menu-item">
            <span class="icon">⚛</span>
            <span>Física</span>
        </a>

        <a href="#" class="menu-item">
            <span class="icon">♧</span>
            <span>Biologia</span>
        </a>

    </div>

</aside>